/* Desktop */
div.bzXtMb.M8OgIe.dRpWwb,

/* Mobile */
div.MjjYud:has(div#eKIzJc) {
  display: none;
}

/* Clean up extra padding after AI overview */
div#slim_appbar {
  display: none;
}

/* Remove extra padding after first search result */
div#search div.ULSxyf {
  margin-bottom: 0px;
}